@tailwind base;
@tailwind components;
@tailwind utilities;

/* style thêm, tuỳ chọn */
body {
  @apply bg-slate-950 text-slate-50;
}

/* scrollbar tuỳ chọn cho phần chat */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 999px;
}
